DATABASE_URL=mongodb+srv://lauretchacha_db_user:<password>@cluster0.hesofst.mongodb.net/?appName=Cluster0&retryWrites=true&w=majority

#Contact me for the database password...
#After you got it, replace <password> by the given password

GOOGLE_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AUTH_SERVICE_URL=http://localhost:3001
FRONTEND_URL=http://localhost:5173
