DATABASE_URL=mongodb+srv://lauretchacha_db_user:<password>@cluster0.hesofst.mongodb.net/?appName=Cluster0&retryWrites=true&w=majority

#Contact me for the database password...
#After you got it, replace <password> by the given password